.itemImage {
  float: left;
  clear: both;
}

.itemTitle {
  float: left;
  /* clear: both; */
  font-weight: 900;
}

.itemContent {
  /* float: left; */
  /* clear: both; */
  margin-top: 10px;
}

.bodyWrapper {
  width: 650px;
  height: 200px;
  clear: both;
}

.rightDiv {
  padding: 10px 0 0 10px;
  float: left;
}

.headerWrapper {
  margin-bottom: 10px;
  float: left;
}

.playFun {
  font-weight: 900;
  font-size: 25px;
  float: left;
}

.numPage {
  float: right;
}
